html{
  height: 100%;
  background: black;
}
.container{
  
}
#scene{
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background: white;
  position: absolute;
}
.player{
  position: relative;
  width: 32px;
  height: 64px;
  background: gray;
  display: inline-block;
  border-radius: 3px;
}

.player-1{ background: blue; }
.player-2{ background: green; }
.player-3{ background: yellow; }
.player-4{ background: red; }