html{
  height: 100%;
  background: black;
}
.container{
  
}
#scene{
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background: white;
  position: relative;
  margin: 0 auto;
}
player{
  position: absolute;
  width: 32px;
  height: 64px;
  background: gray;
  display: inline-block;
  border-radius: 3px;
  left: 0;
  top: 0; 
}

player.one {
  background: blue;
}
player.two {
  background: green;
}
player.three {
  background: yellow;
}
player.four {
  background: red;
}