@import 'reset.scss';

@font-face {
  font-family: 'PC Senior';
  src: url('/font/pcsenior.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$color-1: red;

html{
  height: 100%;
  background: black;
  background-image: url("/images/background.jpg");
  font-family: 'PC Senior';
}
#scene{
  overflow: hidden;
  width: 800px;
  height: 460px;
  border: 1px solid black;
  background-image: url("/images/room1.jpg");
  position: relative;
  margin: 0 auto;
}
#scene.sniper:hover{
  cursor: crosshair;
}

#messages{
  height: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
}



// Player
player{
  position: absolute;
  width: 32px;
  height: 64px;
  background: gray;
  display: inline-block;
  border-radius: 3px;
  left: 0;
  top: 0; 
  box-shadow: 0 7px 7px -2px rgba(0,0,0,.3);
  transition: all 0.1s linear;
  transform: translate(-16px, -64px);
}

player.one {
  background: blue;
}
player.two {
  background: green;
}
player.three {
  background: yellow;
}
player.four {
  background: $color-1;
}

// Win/lose modals
.modal{
  display: none;
  position: fixed;
  width: 300px;
  left: 50%;
  top: 33%;
  box-shadow: 0 0 10px;
  transform: translate(-50%,-50%);
  padding: 30px;
  text-align: center;
  font-size: 41px;
}