@import 'reset.scss';

@font-face {
  font-family: 'PC Senior';
  src: url('/font/pcsenior.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$color-1: red;

html{
  height: 100%;
  background: black;
  background-image: url("/images/background.jpg");
  font-family: 'PC Senior';
}
#scene{
  overflow: hidden;
  width: 800px;
  height: 460px;
  border: 1px solid black;
  background-image: url("/images/room1.jpg");
  position: relative;
  margin: 0 auto;
}
#scene.sniper:hover{
  cursor: crosshair;
}

#messages{
  height: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
}



// Player
player{
  position: absolute;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.1s linear;
  transform: translate(-44px, -101px) scale(1, 1);
  background-image: url("/images/players/shadow.png");
  background-repeat: no-repeat;
  background-position: 10px 81px;
  padding-bottom: 10px;
  cursor: default;

  // Avoid select when spamming click
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

// Win/lose modals
.modal{
  display: none;
  position: fixed;
  width: 300px;
  left: 50%;
  top: 33%;
  box-shadow: 0 0 10px;
  transform: translate(-50%,-50%);
  padding: 30px;
  text-align: center;
  font-size: 41px;
}